<h1>Pirate</h1>
<p> Name: <%= @pirate.name %></p><br>
<p> Height: <%= @pirate.height %></p><br>
<p> Weight: <%= @pirate.weight %></p><br>
 <h2>Ships</h2>
  <% @ships.each do |ship| %>
    <p>Name: <%= ship.name %></p><br>
    <p>Type: <%= ship.type %></p><br>
    <p>Booty: <%= ship.booty %></p><br>
    <% end %>
